.left-content
  = render template: "groups/show"
.right-content
  .right-content__header
    %p.right-content__header__group-name #{@group.name}
    %li= link_to "Edit", edit_group_path(@group), class: "right-content__header__button"
    %ul.right-content__header__members
      %li.right-content__header__members__member Members:
      - @group.users.each do |user|
        %li.right-content__header__members__member-name #{user.name}
      .right-content__header__border
  .right-content__contents
    = render partial: "each_message", collection: @group.messages
  .right-content__footer
    = form_for [@group, @message] do |f|
      = f.text_field :body, value: "type a message", class: "right-content__footer__message-form"
      = button_tag type: "submit", class: "fa fa-pencil-square-o" do
        / %i.class= "fa fa-pencil-square-o"
      = f.submit "Send", class: "right-content__footer__button"
