.left-content
  .left-content__user-name #{current_user.name}
  %ul.left-content__user-name__icon
    = link_to new_group_path do
      %i{class:"fa fa-pencil-square-o"}
    = link_to edit_user_registration_path do
      .i{class:"fa fa-cog"}
  - @groups.each do |group|
    %ul.left-content__group
      %li.left-content__group__name
      = link_to group.name, group_messages_path(group), class: "left-content__group__name"
      - if group.messages.last.nil? == true && group.messages.empty? == true
        %li.left-content__group__message まだメッセージがありません
      - else
        %li.left-content__group__message #{group.messages.last.try(:body)}
